    <div class="main_container">    
        <!--About Me Section Definition-->
        <section id="about_page">
            <div class="about_me">
                <!--Image-->
                <div class="image">
                    <img width="300" src="Assets/images/Portrait.jpg" alt="Desmond During">   
                </div>
                <br><br>

                <!--Introduction-->
                
                <article>
                    &emsp;Welcome to my Portfolio page. I'm Desmond During and I am a second year student at Ontario
                    Tech. I<br> was originally studying a Bachelor's degree in Computer Science but decided to transfer over
                    to Technology<br> Management because I believe opportunities offered in this field suit my expertise. 
                    Now here's a quick video to introduce myself further.
                </article>
            

                <!--Video-->
                <video width="500" height="300" controls preload="auto" muted id="myvid">
                    <source src="Assets/videos/Video.mp4" type="video/mp4"> <!--MP4-->
                    <source src="Assets/videos/Video.ogv" type="video/ogg"> <!--OGG-->
                </video>

                <br><br>
            </div>
        </section>
    </div>