    <div class="main_container">
        <!--Contact Section Definition-->
        <section id="contact_page">
            <div class="contact">
                <!--Form Definition-->
                <form action="mailto:desmond.during@ontariotechu.net"
                method="post" 
                enctype="text/plain"
                name="form">
                
                <p>
                    <label>Name: </label>
                    <br><br>
                    <input type="text" name="name" placeholder="Enter Your Full Name." size="24" required>
                </p>

                <p>
                    <label>Email Address: </label>
                    <br><br>
                    <input type="email" name="email" placeholder="user@domain.ca" size="24" required>
                    
                </p>

                <p>
                    <label>Phone Number (OPTIONAL): </label>
                    <br><br>
                    <input type="tel" name="phone" placeholder="Enter Your Phone Number." size="24">
                </p>

                <p>
                    <label>Any Questions?: </label>
                    <br><br>
                    <textarea name="comments" cols="35" rows="10"></textarea>
                </p>

                <p><input type="submit" value="Submit"></p>
                </form>
            </div>
        </section>
    </div>