    <!--Bootstrap NavBar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!--Navbar Organization and Definition-->
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Desmond During's Portfolio</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon ms-a"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!--Navbar Items-->
                <ul class="navbar-nav ms-auto">
                    <!--Highlights if active-->
                    <li class="nav-item">
                        <% if (title=="Desmond During\'s Portfolio") { %>
                            <a class="nav-link active" href="/home">
                        <% } else { %>
                            <a class="nav-link" href="/home">
                        <% } %>
                        
                        <i class="fa-solid fa-house"></i> Home</a>
                    </li>

                    <li class="nav-item"></li>
                        <% if (title=="About Me") { %>
                            <a class="nav-link active" href="/aboutme">
                        <% } else { %>
                            <a class="nav-link" href="/aboutme">
                        <% } %>
                        
                        <i class="fa-regular fa-circle-question"></i> About Me</a>
                    </li>

                    <li class="nav-item"></li>
                        <% if (title=="Projects") { %>
                            <a class="nav-link active" href="/projects">
                        <% } else { %>
                            <a class="nav-link" href="/projects">
                        <% } %>
                        
                        <i class="fa-solid fa-layer-group"></i> Projects</a>
                    </li>

                    <li class="nav-item"></li>
                        <% if (title=="Contact Me") { %>
                            <a class="nav-link active" href="/contactme">
                        <% } else { %>
                            <a class="nav-link" href="/contactme">
                        <% } %>
                        
                        <i class="fa-solid fa-address-card"></i> Contact Me</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>