    <div class="main_container">
        <!--Projects Section Definition-->
        <section id="project_page">
            <div class="projects">
                <div class="sect1">
                    <h3>Project 1</h3>

                    <div id="image1">
                        <img width="400" src="Assets/images/image.png" alt="Object Orienting list elements">
                    </div>

                    
                    <article>
                        This lab was from the object Oriented course I took last year. In this lab, The goal was to sort and
                        <br>organize a group of people based on specific properties and sort them.
                    </article>
                    
                </div>

                <br><br>

                <div class="sect2">
                    <div id="image2">
                        <img width="400" src="Assets/images/image1.png" alt="Object Orienting Node class">
                    </div>
                
                
                    
                    <article>
                        Here's the class file. In here, I defined classes such as node and LinkedList to create linked lists <br>that are 
                        flexible and allow for more organization.
                    </article>
                    
                </div>
                <br><br>

                <div class="sect3">
                    <h3>Project 2</h3>

                    <div class="image">
                        <img width="400" src="Assets/images/image2.png" alt="Object Orienting Stack class"/>
                    </div>
                
                    
                    <article>
                        In this second lab from the same course, The goal was to create a stack. This snippet of code specifically <br>shows
                        the initialization of the Node and Stack classes, which are necessary to keep track of each element<br> in the stack,
                        and sort them if needed.
                    </article>
                    
                    <br><br><br><br>
                </div>
            </div>
        </section>
    </div>